.btn-blue {
	background-color: blue;
	color: white;
	padding: 15px 20px;
	border-radius: 5%;
	text-decoration: none;
	font-weight: bold;
}

.btn-blue:hover {
	background-color: #ADD8E6;
	color: white;
}


